<footer>
    <div class="zero-padding-top padding-btm zero-lr-padding ">
        <div class="container side-container">
            <div class="row">
                <div class="col-md-12 col-sm-12 center-col text-center">
                    <a class="footer-icons padding-one btn button zero-tb-padding zero-letter-space zero-margin zero-padding-left xs-margin-three-all xs-zero-paddingzero-tb-margin" href="https://www.facebook.com/" target="_blank">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a class="footer-icons padding-one btn button zero-tb-padding zero-letter-space zero-margin zero-padding-left xs-margin-three-all xs-zero-paddingzero-tb-margin" href="https://twitter.com/" target="_blank">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="footer-icons padding-one btn button zero-tb-padding zero-letter-space zero-margin zero-padding-left xs-margin-three-all xs-zero-paddingzero-tb-margin" href="https://plus.google.com" target="_blank">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a class="footer-icons padding-one btn button zero-tb-padding zero-letter-space zero-margin zero-padding-left xs-margin-three-all xs-zero-paddingzero-tb-margin" href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>