<section id="cards" class="light-gray-background wow fadeIn side-container">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <mat-card mat class="example-card">
                    <div align="center">
                        <i class="material-icons">
                        account_balance
                        </i>
                    </div>
                    <mat-card-content>
                        <p>
                            Sant Pau del Camp ha estat un espectador privilegiat del pas del temps, ha viscut i conviscut amb diferents conflictes que hi han deixat empremta, com a la ciutat mateixa.
                        </p>
                    </mat-card-content>
                    <mat-card-actions align="right">
                        <button class="black-btn sm-btn btn " data-toggle="modal" data-target=".bd-example-modal-lg" >+ informació</button>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="col-md-6">
                <mat-card mat class="example-card">
                    <div align="center">
                        <i class="material-icons">
                            calendar_today
                            </i>
                    </div>
                    <mat-card-content>
                        <p>
                            Reserveu i compreu les vostres entrades per avançat.
                        </p>
                    </mat-card-content>
                    <mat-card-actions align="right">
                        <a class="black-btn sm-btn btn internal-link" href="">+ informació</a>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</section>