<section id="cards" class="light-gray-background wow fadeIn side-container">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <mat-card mat class="example-card">
                    <div align="center">
                        <i class="material-icons">
                        account_balance
                        </i>
                    </div>
                    <mat-card-content>
                        <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                        </p>
                    </mat-card-content>
                    <mat-card-actions align="right">
                        <a class="black-btn sm-btn btn internal-link" href="#history">+ informació</a>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="col-md-6">
                <mat-card mat class="example-card">
                    <div align="center">
                        <i class="material-icons">
                            calendar_today
                            </i>
                    </div>
                    <mat-card-content>
                        <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                        </p>
                    </mat-card-content>
                    <mat-card-actions align="right">
                        <a class="black-btn sm-btn btn internal-link" href="">+ informació</a>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</section>