i.material-icons {
    font-size: 5em;
    color: black;
    margin: 20px 0px;
}

.example-card {
    height: 350px;
}

.mat-card-actions {
    position: absolute;
    bottom: 35px;
    right: 25px;
}