<div class="main-timeline">
    <div class="timeline">
        <div class="timeline-icon"></div>
        <div class="timeline-content">
            <span class="date">Segles VIII-X</span>
            <p class="description">
             Probable període d’edificació del Monestir.
            </p>
        </div>
    </div>
 
    <div class="timeline">
        <div class="timeline-icon"></div>
        <div class="timeline-content right">
            <span class="date">911</span>
            <p class="description">
               Guifré II, comte de Barcelona, és enterrat a la necròpolis adjacent al Monestir
            </p>
        </div>
    </div>
 
    <div class="timeline">
        <div class="timeline-icon"></div>
        <div class="timeline-content">
            <span class="date">985</span>
            <p class="description">
             Destrucció del Monestir a mans d’Al-Mansur
            </p>
        </div>
    </div>
 
    <div class="timeline">
        <div class="timeline-icon"></div>
        <div class="timeline-content right">
            <span class="date">1098</span>
            <p class="description">
               Possible inici de la comunitat monacal de l’orde de Sant Benet a Sant Pau
            </p>
        </div>
    </div>

    <div class="timeline">
      <div class="timeline-icon"></div>
      <div class="timeline-content ">
          <span class="date">1577</span>
          <p class="description">
           El Papa Gregori XIII uneix el priorat de Sant Pau al monestir de Montserrat.
              Decisió polèmica ja que Montserrat formava part de del priorat de Valladolid.
          </p>
      </div>
  </div>

  <div class="timeline">
    <div class="timeline-icon"></div>
    <div class="timeline-content right">
        <span class="date">1593</span>
        <p class="description">
           El Papa Climent VII desvincula el priorat de Sant Pau de Montserrat
        </p>
    </div>
</div>
<div class="timeline">
  <div class="timeline-icon"></div>
  <div class="timeline-content ">
      <span class="date">1680</span>
      <p class="description">
        L’abat Josep Sastre ocupa el càrrec de President de la Generalitat
      </p>
  </div>
</div>
<div class="timeline">
  <div class="timeline-icon"></div>
  <div class="timeline-content right">
      <span class="date">1714</span>
      <p class="description">
        El Govern de la Generalitat de Catalunya es refugia a Sant Pau del Camp durant
        la Guerra de Successió fins a la capitulació final de la ciutat
      </p>
  </div>
</div>
<div class="timeline">
  <div class="timeline-icon"></div>
  <div class="timeline-content ">
      <span class="date">1808</span>
      <p class="description">
        El Monestir és ocupat per les tropes franceses durant la Guerra del francès, el
        converteixen en hospital militar
      </p>
  </div>
</div>
<div class="timeline">
  <div class="timeline-icon"></div>
  <div class="timeline-content right">
      <span class="date">1835</span>
      <p class="description">
        Arran de la Desamortització de Mendizabal comença el procés d’exclaustració
        del Monestir.
      </p>
  </div>
</div>
<div class="timeline">
  <div class="timeline-icon"></div>
  <div class="timeline-content ">
      <span class="date">1879</span>
      <p class="description">
        Sant Pau del Camp és declarat Monument Nacional
      </p>
  </div>
</div>
<div class="timeline">
  <div class="timeline-icon"></div>
  <div class="timeline-content right">
      <span class="date">1909</span>
      <p class="description">
        Incendi i saqueig de Sant Pau del Camp durant la Setmana Tràgica
      </p>
  </div>
</div>
<div class="timeline">
  <div class="timeline-icon"></div>
  <div class="timeline-content ">
      <span class="date">1936</span>
      <p class="description">
        Inici de la Guerra Civil espanyola. Saqueig i incendi de l’església
      </p>
  </div>
</div>
<div class="timeline">
  <div class="timeline-icon"></div>
  <div class="timeline-content right">
      <span class="date">1939</span>
      <p class="description">
        Reparació i consolidació del edificis contigus afectats durant els bombardejos
        de la ciutat
      </p>
  </div>
</div>
<div class="timeline">
  <div class="timeline-icon"></div>
  <div class="timeline-content ">
      <span class="date">1966</span>
      <p class="description">
        Esfondrament de la volta de canó de l’Església encara malmesa pels incendis
        de la Guerra
      </p>
  </div>
</div>
<div class="timeline">
  <div class="timeline-icon"></div>
  <div class="timeline-content right">
      <span class="date">1969</span>
      <p class="description">
        Registre policial a les dependències de Sant Pau. Són trobades una
        multicopista, propaganda del Partit Comunista i dues persones són detingudes
      </p>
  </div>
</div>
<div class="timeline">
  <div class="timeline-icon"></div>
  <div class="timeline-content ">
      <span class="date">2013</span>
      <p class="description">
        Obres d’accessibilitat i rehabilitació de l’edifici monacal
      </p>
  </div>
</div>
</div>