<mat-vertical-stepper [linear]="false" #stepper>

    <mat-step [stepControl]="firstFormGroup">
        <ng-template matStepLabel>Segles VIII-X</ng-template>
        Probable període d’edificació del Monestir.
    </mat-step>
    <mat-step [stepControl]="firstFormGroup">
        <ng-template matStepLabel>911</ng-template>
        Guifré II, comte de Barcelona, és enterrat a la necròpolis adjacent al Monestir
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <ng-template matStepLabel>985</ng-template>
        Destrucció del Monestir a mans d’Al-Mansur
    </mat-step>
    <mat-step [stepControl]="firstFormGroup">
        <ng-template matStepLabel>1098</ng-template>
        Possible inici de la comunitat monacal de l’orde de Sant Benet a Sant Pau
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <ng-template matStepLabel>1577</ng-template>
        El Papa Gregori XIII uneix el priorat de Sant Pau al monestir de Montserrat. Decisió polèmica ja que Montserrat formava part de del priorat de Valladolid.
    </mat-step>
    <mat-step [stepControl]="firstFormGroup">
        <ng-template matStepLabel>1593</ng-template>
        El Papa Climent VII desvincula el priorat de Sant Pau de Montserrat
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <ng-template matStepLabel>1680</ng-template>
        L’abat Josep Sastre ocupa el càrrec de President de la Generalitat
    </mat-step>
    <mat-step [stepControl]="firstFormGroup">
        <ng-template matStepLabel>1714</ng-template>
        El Govern de la Generalitat de Catalunya es refugia a Sant Pau del Camp durant la Guerra de Successió fins a la capitulació final de la ciutat
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <ng-template matStepLabel>1808</ng-template>
        El Monestir és ocupat per les tropes franceses durant la Guerra del francès, el converteixen en hospital militar
    </mat-step>
    <mat-step [stepControl]="firstFormGroup">
        <ng-template matStepLabel>1835</ng-template>
        Arran de la Desamortització de Mendizabal comença el procés d’exclaustració del Monestir.
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <ng-template matStepLabel>1879</ng-template>
        Sant Pau del Camp és declarat Monument Nacional
    </mat-step>
    <mat-step [stepControl]="firstFormGroup">
        <ng-template matStepLabel>1909</ng-template>
        Incendi i saqueig de Sant Pau del Camp durant la Setmana Tràgica
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <ng-template matStepLabel>1936</ng-template>
        Inici de la Guerra Civil espanyola. Saqueig i incendi de l’església
    </mat-step>
    <mat-step [stepControl]="firstFormGroup">
        <ng-template matStepLabel>1939</ng-template>
        Reparació i consolidació del edificis contigus afectats durant els bombardejos de la ciutat
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <ng-template matStepLabel>1966</ng-template>
        Esfondrament de la volta de canó de l’Església encara malmesa pels incendis de la Guerra
    </mat-step>
    <mat-step [stepControl]="firstFormGroup">
        <ng-template matStepLabel>1969</ng-template>
        Registre policial a les dependències de Sant Pau. Són trobades una multicopista, propaganda del Partit Comunista i dues persones són detingudes
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <ng-template matStepLabel>2013</ng-template>
        Obres d’accessibilitat i rehabilitació de l’edifici monacal
    </mat-step>
</mat-vertical-stepper>