<mat-vertical-stepper [linear]="false" #stepper>
    <mat-step [stepControl]="firstFormGroup">
        <ng-template matStepLabel>1889. titol 1</ng-template>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus rerum veniam veritatis reiciendis fugit dicta ea, voluptates ex tenetur distinctio voluptatibus provident amet iure nihil ratione est exercitationem dolorum aperiam.
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <ng-template matStepLabel>1889. titol 2</ng-template>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique sequi, velit provident officiis ex minus corrupti, laborum aut, itaque tempora labore. Vel omnis a quas eveniet, quod error expedita non!
    </mat-step>
    <mat-step [stepControl]="firstFormGroup">
        <ng-template matStepLabel>1889. titol 3</ng-template>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus rerum veniam veritatis reiciendis fugit dicta ea, voluptates ex tenetur distinctio voluptatibus provident amet iure nihil ratione est exercitationem dolorum aperiam.
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <ng-template matStepLabel>1889. titol 5</ng-template>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique sequi, velit provident officiis ex minus corrupti, laborum aut, itaque tempora labore. Vel omnis a quas eveniet, quod error expedita non!
    </mat-step>
</mat-vertical-stepper>