<section id="about" class="freelancer-about wow fadeIn light-gray-background side-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-12 text-left xs-text-left sm-text-left md-text-left">
                <!-- end section title -->
                <p class="sm-zero-lr-margin zero-margin-bottom zero-lr-margin margin-top-six light-text text-light-gray sm-margin-four-all">
                    La reconstrucció s’allargà durant el segle XI i no serà fins al segle XIV que el monestir passà a estar dins la muralla. Al llarg del temps, Sant Pau del Camp patí diverses desfetes i reconstruccions; guerres diverses, desamortitzacions, la Setmana Tràgica
                    o la Guerra Civil que han deixat la seva empremta i les seves cicatrius sobre l’edifici i l’han anat configurant tal i com avui en dia el podem gaudir.
                </p>
                <p class="sm-zero-lr-margin zero-margin-bottom zero-lr-margin margin-top-six light-text text-light-gray sm-margin-seven-all">
                    Es tracta d’un petita joia del romànic europeu, així ho demostren el frontispici de l’església o algun dels capitells de les columnes del claustre. I també, és mostra del encontre de diverses cultures i sensibilitats artístiques com la musulmana, testimoni
                    en són els arcs polilobulat. Tot això, ens pot suggerir la grandiositat que va arribar a aconseguir Sant Pau del Camp i el converteixen en un lloc de visita imprescindible a la ciutat de Barcelona.
                </p>
            </div>
        </div>
    </div>
</section>