<app-navbar></app-navbar>
<div class="cover">
    <router-outlet>
    </router-outlet>
    <app-calendar></app-calendar>
</div>
<app-footer></app-footer>
<cookie-law>Utilitzem cookies pròpies i de tercers per millorar els nostres serveis i mostrar publicitat relacionada amb les seves preferències mitjançant l'anàlisi dels seus hàbits de navegació. Si continua navegant, considerem que accepta el seu ús. Podeu obtenir
    més informació fent <a href="https://www.esglesiabarcelona.cat/politica-de-cookies/">click</a></cookie-law>