<section id="history" class="fix-background wow fadeIn">
    <div class="opacity-seven testimonial-bg"></div>
    <div class="container side-container">
        <div class="row">
            <div class="col-md-10 col-sm-10 col-xs-10 zero-padding center-col">
                <div class=" position-relative">
                    <!-- testimonials item -->
                    <div class="item">
                        <div class=" text-center xs-margin-btm-10">
                            <button data-toggle="modal" data-target=".bd-example-modal-lg" class="transparent-btn sm-btn btn">Descobreix la historia de Sant Pau</button>
                        </div>
                    </div>
                    <!-- end testimonials item -->
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content container">
            <app-history></app-history>
        </div>
    </div>
</div>