<section id="home" class="setting-parallax wow fadeIn img-parallax screen-resize pd150">
    <img class="img-parallax-bg" src="../../../assets/images/banner.jpg" alt="" />
    <div class="black-background opacity-five"></div>
    <div class="screen-resize hero-img">
        <div class="text-settings side-container">
            <div class="container">
                <div class="row">
                    <div class="mid-text md-text-left sm-text-left">

                        <span class="freelancer-name ">{{ 'hello' | translate }}</span>
                        <span class="freelancer-name noblack">de sant pau del camp</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>