<section id="about" class="freelancer-about wow fadeIn light-gray-background side-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-12 text-left xs-text-left sm-text-left md-text-left">
                <!-- section title -->
                <span class="section-heading">Sobre Sant Pau del Camp</span>
                <!-- end section title -->
                <p class="sm-zero-lr-margin zero-margin-bottom zero-lr-margin margin-top-six light-text text-light-gray sm-margin-four-all">
                    L’antic monestir de Sant Pau del Camp, el que queda del que va ser un important priorat benedictí, és la mostra d’arquitectura romànica més ben conservada de la ciutat de Barcelona; la seva església és la més antiga de la ciutat i segueix dedicada al
                    culte.
                </p>
                <p class="sm-zero-lr-margin zero-margin-bottom zero-lr-margin margin-top-six light-text text-light-gray sm-margin-seven-all">
                    Tot i que els orígens són incerts, se sap que una primera construcció fou destruïda pel cabdill Al-mansor el 985 i que la reconstrucció s’allargà durant el s. XI. Al llarg del temps, les desfetes i reconstruccions han estat una constant; guerres diverses,
                    les desamortitzacions, la Setmana Tràgica o la Guerra Civil han deixat la seva empremta i l’han anat configurant com es pot gaudir a dia d’avui.
                </p>
                <p class="sm-zero-lr-margin zero-margin-bottom zero-lr-margin margin-top-six light-text text-light-gray sm-margin-seven-all">
                    Amb tot, el frontispici de l’església i els arcs polilobulats del claustre, de petites dimensions, són dos elements que el configuren com una petita joia del romànic europeu, que suggereixen la grandiositat que va arribar a aconseguir i el converteixen
                    en un lloc de visita imprescindible.
                </p>
            </div>
        </div>
    </div>
</section>