<section id="about" class="freelancer-about wow fadeIn light-gray-background side-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-12 text-left xs-text-left sm-text-left md-text-left">
                <!-- section title -->
                <span class="section-heading">Sobre Sant Pau del Camp</span>
                <!-- end section title -->
                <p class="sm-zero-lr-margin zero-margin-bottom zero-lr-margin margin-top-six light-text text-light-gray sm-margin-four-all">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus mus. Donec quam felis ultricies nec pellentesque qosem. Lorem ipsum
                    dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus mus. Donec quam felis ultricies nec pellentesque qosem. dolor
                    sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus mus. Donec quam felis ultricies nec pellentesque qosem.
                </p>
                <p class="sm-zero-lr-margin zero-margin-bottom zero-lr-margin margin-top-six light-text text-light-gray sm-margin-seven-all">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus mus. Donec quam felis ultricies nec pellentesque qosem. Lorem ipsum
                    dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus mus. Donec quam felis ultricies nec pellentesque qosem. Lorem
                    ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus mus. Donec quam felis ultricies nec pellentesque qosem.
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus mus. Donec quam felis ultricies nec pellentesque
                    qosem.
                </p>

            </div>
        </div>
    </div>
</section>