<section id="contact" class="wow fadeIn side-container">
    <div class="container">
        <div class="row">
            <div class="col-md-6 ">
                <span class="section-heading">Contacta</span>
                <form id="contactusform" action="javascript:void(0)" method="post">
                    <div id="alert" class="zero-lr-margin"></div>
                    <input type="text" name="name" id="name" placeholder="Nom" class="ub-font contact-form">
                    <input type="text" name="email" id="email" placeholder="Correu" class="ub-font contact-form">
                    <textarea name="comment" class="ub-font" placeholder="Escriu el teu missatge"></textarea>
                    <button id="btn-contact" type="submit" class="black-btn sm-btn btn">Enviar
                        </button>
                </form>
            </div>
            <div class="col-md-6">
                <iframe src="https://calendar.google.com/calendar/embed?src=culturasantpaudelcamp%40arqbcn.cat&ctz=Europe%2FMadrid" style="border: 0" width="100%" height="400" frameborder="0" scrolling="no"></iframe>
            </div>
        </div>
    </div>
</section>